addict==2.4.0
aiofiles==24.1.0
annotated-types==0.7.0
anyio==4.6.2.post1
asttokens==2.4.1
attrs==24.2.0
backports.tarfile==1.2.0
blinker==1.8.2
bokeh==3.6.0
branca==0.8.0
Brotli==1.1.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
comm==0.2.2
contourpy==1.3.0
cycler==0.12.1
debugpy==1.8.7
decorator==5.1.1
defusedxml==0.7.1
docutils==0.21.2
et-xmlfile==1.1.0
executing==2.1.0
fastapi==0.115.3
filelock==3.16.1
Flask==3.0.3
folium==0.18.0
fonttools==4.54.1
fsspec==2024.10.0
h11==0.14.0
hjson==3.1.0
httpcore==1.0.6
httpx==0.27.2
idna==3.10
importlib_metadata==8.5.0
ipykernel==6.29.5
ipython==8.28.0
isodate==0.7.2
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.1
Jinja2==3.1.4
jupyter_client==8.6.3
jupyter_core==5.7.2
justpy==0.14.0
keyring==25.4.1
kiwisolver==1.4.7
lapx==0.5.11
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
more-itertools==10.5.0
mpmath==1.3.0
mutagen==1.47.0
nest-asyncio==1.6.0
networkx==3.4.2
nh3==0.2.18
numpy==2.1.2
opencv-python==4.10.0.84
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.3
parso==0.8.4
pillow==11.0.0
pkginfo==1.10.0
platformdirs==4.3.6
prompt_toolkit==3.0.48
psutil==6.1.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pycountry==24.6.1
pycparser==2.22
pycryptodome==3.21.0
pycryptodomex==3.21.0
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.18.0
pyparsing==3.2.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytubefix==8.1.1
pytz==2024.2
pywin32==308
pywin32-ctypes==0.2.3
PyYAML==6.0.2
pyzmq==26.2.0
readme_renderer==44.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.9.3
scipy==1.14.1
seaborn==0.13.2
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
stack-data==0.6.3
starlette==0.41.0
streamlink==6.11.0
supervision==0.24.0
sympy==1.13.1
torch==2.5.0+cu121
torchaudio==2.5.0+cu121
torchvision==0.20.0+cu121
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
trio==0.27.0
trio-websocket==0.11.1
twine==5.1.1
typing_extensions==4.12.2
tzdata==2024.2
ultralytics==8.3.20
ultralytics-thop==2.0.9
urllib3==2.2.3
uvicorn==0.32.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.0.6
wsproto==1.2.0
xlrd==2.0.1
xyzservices==2024.9.0
yt-dlp==2024.10.22
zipp==3.20.2
