<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <title>Mapa de Sismos</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet-draw/dist/leaflet.draw.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/ljagis/leaflet-measure@2.1.7/dist/leaflet-measure.min.css"
    />
    <style>
      #map {
        height: 520px;
        width: 100%;
      }
    </style>

    <style>
      .info.legend {
        background: white;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
      }

      .info.legend h5 {
        margin: 0 0 5px 0;
        font-size: 14px;
      }

      .info.legend i {
        width: 20px;
        height: 20px;
        border-radius: 5px;
        display: inline-block;
        margin-right: 5px;
      }

      .title-icon {
        width: 80px;
        height: 80px;
        margin-right: 8px;
        vertical-align: middle;
      }
    </style>
  </head>
  <body>
      <h2 class="text-center text-light bg-dark py-3">
          <img src="/static/icon.png" alt="Icono" class="title-icon" />
          Mapa de Sismos de los Últimos 30 Días
        </h2>
        
    <div class="container mt-2 mb-4">
      <div id="map" class="mb-4"></div>

      <table id="sismosTable" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="text-center">Registro del Sismo</th>
            <th class="text-center">Provincia</th>
            <th class="text-center">Profundidad</th>
            <th class="text-center">Magnitud</th>
            <th class="text-center">Coordenadas</th>
          </tr>
        </thead>
        <tbody>
          {% for sismo in sismos %}
          <tr
            data-coordinates="{{ sismo.coordenadas }}"
            data-registro="{{ sismo.registro }}"
          >
            <td class="text-center">{{ sismo.registro }}</td>
            <td class="text-center">{{ sismo.provincia }}</td>
            <td class="text-center">{{ sismo.profundidad }} km</td>
            <td class="text-center">{{ sismo.magnitud }}</td>
            <td class="text-center">{{ sismo.coordenadas }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://unpkg.com/leaflet-draw/dist/leaflet.draw.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ljagis/leaflet-measure@2.1.7/dist/leaflet-measure.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>

    <script>
        // Crear el mapa
        var map = L.map("map").setView([-31.0, -64.7597], 5); // Coordenadas de Argentina
        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
            maxZoom: 20,
        }).addTo(map);

        // Crear un nuevo pane para los marcadores
        map.createPane('markerPane');
        map.getPane('markerPane').style.zIndex = 700; // Aseguramos que esté por encima del overlayPane
        map.createPane('popupPane');
        map.getPane('popupPane').style.zIndex = 800;

        // Crear un grupo de capas para los marcadores
        var markersLayer = L.layerGroup().addTo(map); // Crea un nuevo grupo de capas para los marcadores

        // Cargar el archivo GeoJSON y agregarlo al mapa
        fetch('/static/inpres_sismos_zonificacion.json') // Asegúrate de que la ruta sea correcta
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al cargar el GeoJSON');
                }
                return response.json();
            })
            .then(data => {
                // Crear una nueva capa para el GeoJSON
                var geoJsonLayer = L.geoJSON(data, {
                    style: function(feature) {
                        let color;
                        // Asignar el color según la zona
                        switch (feature.properties.zona_sismo) {
                            case 'Zona 4':
                                color = '#db241d';
                                break;
                            case 'Zona 3':
                                color = '#ff8b00';
                                break;
                            case 'Zona 2':
                                color = '#ebbb01';
                                break;
                            case 'Zona 1':
                                color = '#f4c591';
                                break;
                            case 'Zona 0':
                                color = '#fef1c5';
                                break;
                            default:
                                color = 'black';
                        }
                        return {
                            color: color,
                            weight: 0,
                            fillOpacity: 0.7
                        };
                    },
                    onEachFeature: function(feature, layer) {
                        if (feature.properties && feature.properties.zona_sismo) {
                            layer.bindPopup(feature.properties.zona_sismo);
                        }
                    }
                }).addTo(map); // Añadir la capa de zonas sísmicas al mapa

                // Agregar el control de capas
                var baseLayers = {
                    "OpenStreetMap": L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
                        maxZoom: 20,
                    }).addTo(map)
                };

                var overlays = {
                    "Zonas Sísmicas": geoJsonLayer // Añade tu capa GeoJSON aquí
                };

                L.control.layers(baseLayers, overlays).addTo(map); // Agrega el control al mapa

            })
            .catch(error => {
                console.error('Error al cargar el GeoJSON:', error);
            })
            .finally(() => {
                // Cargar marcadores independientemente del resultado de la carga del GeoJSON
                cargarMarcadores();
            });

        // Crear un objeto para almacenar los marcadores con clave en base a su registro
        var markers = {};

        // Función para agregar marcadores al mapa
        function cargarMarcadores() {
            // Agregar marcadores desde los datos del servidor
            var sismos = {{ sismos | tojson }};

            sismos.forEach(function(sismo) {
                var coords = sismo.coordenadas.split(', ');
                var lat = parseFloat(coords[0]);
                var lon = parseFloat(coords[1]);
                var popupContent = `
                    <h2>${sismo.provincia}</h2>
                    <h4>${sismo.registro}</h4>
                    <h5>Magnitud: ${sismo.magnitud}</h5>
                    <p>Epicentro: ${lat}º Sur; ${lon}º Oeste</p>
                    <p>Profundidad: ${sismo.profundidad} km</p>
                `;
                var marker = L.circleMarker([lat, lon], {
                    radius: 10,
                    color: "black",
                    weight: 1.2,
                    fillColor: getColor(sismo.magnitud),
                    fillOpacity: 0.7,
                    pane: 'markerPane' // Añadir el pane a los marcadores
                }).bindPopup(popupContent, { autoClose: true, closeOnClick: true, pane: 'popupPane' });

                    // Añadir el marcador al objeto markers usando el registro como clave
                    markers[sismo.registro] = marker;


                // Añadir el marcador al FeatureGroup de marcadores
                markersLayer.addLayer(marker);
            });
        }

        // Función para determinar el color según la magnitud
        function getColor(magnitude) {
            if (magnitude >= 9.0) return "black";
            if (magnitude >= 8.0) return "purple";
            if (magnitude >= 7.0) return "darkred";
            if (magnitude >= 6.0) return "red";
            if (magnitude >= 5.0) return "orange";
            if (magnitude >= 4.0) return "darkgreen";
            if (magnitude >= 3.0) return "green";
            if (magnitude >= 2.0) return "cadetblue";
            if (magnitude >= 1.0) return "blue";
            return "lightgray";
        }

        // Inicializar DataTable desactivando el ordenamiento
        $(document).ready(function() {
            $('#sismosTable').DataTable({
                order: [],
                columnDefs: [
                    { orderable: false, targets: [0, 1, 2, 3] } // Desactivar el ordenamiento en todas las columnas
                ],
                language: {
                    url: '/static/es-ES.json' // Ruta al archivo local
                },
            });
        });

              // Evento de clic en las filas de la tabla
      $('#sismosTable tbody').on('click', 'tr', function() {
          // Obtener el registro del sismo
          var registro = $(this).data('registro');

          // Si la fila ya tiene la clase 'selected', quitarla
          if ($(this).hasClass('selected')) {
              $(this).removeClass('selected');

              // Restaurar todos los marcadores al estado original
              for (const key in markers) {
                  markers[key].setStyle({ fillOpacity: 0.7 });
              }
          } else {
              // Quitar 'selected' de cualquier fila
              $('#sismosTable tbody tr.selected').removeClass('selected');
              $(this).addClass('selected');

              // Obtener las coordenadas del atributo 'data-coordinates'
              var coordinates = $(this).data('coordinates').split(', ');
              var lat = parseFloat(coordinates[0]);
              var lon = parseFloat(coordinates[1]);

              // Centrar el mapa en las coordenadas y hacer zoom
              map.setView([lat, lon], 12);

              // Ajustar la opacidad de los marcadores
              for (const key in markers) {
                  if (key !== registro) {
                      markers[key].setStyle({ fillOpacity: 0.3 }); // Atenuar los no seleccionados
                  } else {
                      markers[key].openPopup(); // Abrir el popup del marcador seleccionado
                  }
              }
          }
      });

      // Añadir control de geocodificación
      var geocoder = L.Control.geocoder({
          collapsed: true,
          defaultMarkGeocode: true,
          placeholder: "Buscar un sitio...",
          position: "topleft",
          provider: "nominatim",
          providerOptions: {},
          zoom: 11,
      })
      .on('markgeocode', function(e) {
          var latlng = e.geocode.center;
          map.setView(latlng, 14);
          L.marker(latlng).addTo(map).bindPopup(e.geocode.name).openPopup();
      })
      .addTo(map);

      // Añadir control de dibujo
      var drawnItems = new L.FeatureGroup();
      map.addLayer(drawnItems);
      var drawControl = new L.Control.Draw({
          edit: {
              featureGroup: drawnItems
          },
          draw: {
              polygon: true,
              polyline: true,
              circle: true,
              rectangle: true,
              marker: true
          }
      });
      map.addControl(drawControl);

      // Evento para añadir formas dibujadas al mapa
      map.on('draw:created', function(e) {
          var layer = e.layer;
          drawnItems.addLayer(layer);
      });

      // Añadir control de medición
      var measureControl = new L.Control.Measure({
          position: 'bottomleft', // Posición del control
          primaryLengthUnit: 'kilometers',
          secondaryLengthUnit: 'meters',
          primaryAreaUnit: 'hectares',
          secondaryAreaUnit: 'ares',
          activeColor: 'blue',
          completedColor: 'red',
          localization: 'es',
      });
      map.addControl(measureControl);


      // Workaround for using this plugin with Leaflet>=1.8.0
      // https://github.com/ljagis/leaflet-measure/issues/171
          L.Control.Measure.include({
              _setCaptureMarkerIcon: function () {
                  // disable autopan
                  this._captureMarker.options.autoPanOnFocus = false;
                  // default function
                  this._captureMarker.setIcon(
                      L.divIcon({
                          iconSize: this._map.getSize().multiplyBy(2)
                      })
                  );
              },
          });


          // Crear el control de leyenda
          var legend = L.control({ position: 'bottomright' });

          legend.onAdd = function (map) {
              var div = L.DomUtil.create('div', 'info legend');
              div.innerHTML += '<h4>Magnitud</h4>';
              div.innerHTML += '<h5>(Escala Ritcher)</h5>';
              div.innerHTML += '<i style="background: #301934"></i> 9.0 y más<br>';
              div.innerHTML += '<i style="background: #6A0E3D"></i> 8.0 - 8.9<br>';
              div.innerHTML += '<i style="background: #8B0000"></i> 7.0 - 7.9<br>';
              div.innerHTML += '<i style="background: #FF0000"></i> 6.0 - 6.9<br>';
              div.innerHTML += '<i style="background: #FFA500"></i> 5.0 - 5.9<br>';
              div.innerHTML += '<i style="background: #006400"></i> 4.0 - 4.9<br>';
              div.innerHTML += '<i style="background: #008000"></i> 3.0 - 3.9<br>';
              div.innerHTML += '<i style="background: #5F9EA0"></i> 2.0 - 2.9<br>';
              div.innerHTML += '<i style="background: #0000FF"></i> 1.0 - 1.9<br>';
              div.innerHTML += '<i style="background: #D3D3D3"></i> Menos de 1.0<br>';
              return div;
          };

          // Agregar la leyenda al mapa
          legend.addTo(map);
    </script>
  </body>

  <footer class="text-center py-4 bg-dark text-light">
    <div class="container">
      <p class="mb-1">
        © <span id="currentYear"></span> Sismos Argentina - Todos los derechos
        reservados.
      </p>
      <p class="mb-0">
        Creado con ❤ por
        <a
          href="https://github.com/leo-Isaia"
          target="_blank"
          class="text-light fw-bold"
          >Leo</a
        >.
      </p>
    </div>
  </footer>
</html>
